body{
  position: relative;
}
.article-main{}

.article-header{
  align-items: center;
}
.article-title{
  font-size: $h1-font-size*1.25;
  font-weight: $font-weight-bold;
  text-align: center;
}

.article-authors{
  //@include border-radius($border-radius);
  //@include gradient-bg($authors-bg);
  //width:100%;
  .nav-authors{
    list-style: none;
    align-items: flex-start;
    justify-content: center;
    vertical-align: top;
  }

  .item-author {
    vertical-align: top;
    padding: $item-author-padding-y $item-author-padding-x;
  }
  .author-name {
    font-weight: $font-weight-bold;
  }
  .author-affiliation{
    font-size: $font-size-footnote;
    font-weight: $font-weight-light;
    display: inline-block;
  }
}

.article-summary{
  @include border-radius($border-radius);
  @include gradient-bg($summary-bg);
  @include box-shadow(0 0.25rem 0.5rem $summary-bg);

  font-size:$font-size-sm;
  margin-top: $spacer;
  .abstact-title,
  .keywords-title{
    font-weight: $font-weight-bold;
    padding-left: $spacer;
  }
  .abstract{
    padding: 0 $spacer/2;
    text-align: justify;
  }
}
.article-section{}
.article-content{}

.article-text{
  //columns: 2;
  section{
    @include  clearfix() ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  p,
  h2, h3, h4, h5, h6 {
    @include  clearfix() ;
    width: 100%;
  }

  p,
  figcaption,
  blockquote,
  .figure-title,
  .example-title,
  .equation-title{
    orphans: 2;
    widows: 2;
    text-align: justify;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

@import "toc";
@import "figures";
