// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

//$enable-hover-media-query:  false;// Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: true;

// Fonts
$font-family-serif: "TeX Gyre Termes", Times, "Latin Modern Roman", "Computer Modern", serif;
$font-family-base: $font-family-serif;
$font-size-sc: 0.85;
$font-size-small: $font-size-sm;
$font-size-foot: max($font-size-base * $font-size-sc, 0.751rem);
$font-size-footnote: max($font-size-base * 0.86, 0.751rem);
$font-weight-light: 200 !default;
$font-weight-bold: 700 !default;

// Color system
$BlueDark: rgba(#455a64, 1);
$BlueLight: rgba(#607d8b, 1);
$PastelGray: rgba(#ccc, 1);
$Coquelicot: rgba(#f30, 1);
$TurquoiseLight: rgba(#c2ebef, 1);
$CyanLight: rgba(#cff, 1);
$CyanDark: rgba(#3ff, 1);

//$Canary:      rgba(#ff9, 1);
$accent: $Coquelicot;

$Dark: rgba(adjust-hue(darken(#292b2c, 10%), 25deg), 1);
$Light: rgba(adjust-hue(darken(#eceeef, 10%), 25deg), 0.8);

// Body
$body-bg: $white;
$text-color: $body-color;

// Links
// Style anchor elements.
$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 40%);
$link-hover-color-accent: $accent;
$link-hover-decoration: underline;
$link-transition: color 0.5s;

//header
//authors
$authors-bg: rgba(lighten($Light, 40%), 0.2);
$item-author-padding-x: $spacer / 2;
$item-author-padding-y: $spacer / 4;

//summary:
$summary-bg: rgba(lighten($BlueLight, 20%), 0.2);

//toc:
$nav-link-padding-y: 0.25rem;
$nav-link-padding-x: $navbar-nav-link-padding-x;
$nav-link-color: $primary;
$nav-link-active-color: $accent;
$nav-link-disabled-color: lighten($nav-link-color, 20%);
 
$toc-color: $Dark;
$toc-bg: rgba(darken($body-bg, 5%), 0.8);
$toc-border: $toc-color;
$toc-border-radius: $border-radius;

//figures
$figure-caption-font-size: 90% !default;
$figure-caption-color: $gray-800;
$figure-border-radius: $border-radius;
$figure-box-shadow: 0 1px 2px rgba($black, 0.25);

$thumbnail-padding: 0.25rem !default;
$thumbnail-bg: $body-bg !default;
$thumbnail-border-width: $border-width !default;
$thumbnail-border-color: $gray-300 !default;
$thumbnail-border-radius: $border-radius !default;
$thumbnail-box-shadow: 0 1px 2px rgba($black, 0.075) !default;
